* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

body {
  background-image: url("./assets/bg.jpg");
  background-color: #302f3d;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #2b2b2c;
}
body * {
  font-family: "Inter", sans-serif;
  line-height: 160%;
}

header {
  text-align: center;
  display: flex;

  margin-left: 320px;
  margin-right: 320px;
  margin-top: 32px;
  margin-bottom: 48px;
}

header div {
  display: flex;
}

.item-space-header-content {
  width: 50%;
}

header img {
  width: 64px;
  height: 64px;
}

header a {
  width: 100%;
  color: white;
  transition: transform 0.3s;
  text-decoration: none;
}

header a:hover {
  transform: scale(1.1);
}

.centralizer-content {
  width: 100%;
  justify-items: center;
  align-items: center;
  text-align: center;
}

.my-photo {
  margin-top: 32px;
  height: 120px;
}

.my-photo div {
  width: 120px;
  margin: auto;
  background-image: linear-gradient(
    90deg,
    #12c2e9 0%,
    #12c2e9 50.52%,
    #f64f59 100%
  );
  border-radius: 50%;
  display: flex;
  padding: 4px;
  transition: transform 0.3s;
}

.my-photo div:hover {
  transform: scale(1.1);
}

.my-photo div img {
  width: 100%;
  border-radius: 50%;
}

main {
  max-width: 600px;
  width: 90%;
  margin: 32px auto;
  margin-bottom: 50px;
  display: grid;
  gap: 24px;
  margin-top: 32px;
}

section {
  color: white;
  background: #4776e6;

  background: linear-gradient(90deg, #12c2e9 0%, #12c2e9 50.52%, #f64f59 100%);

  padding-top: 4px;
  border-radius: 10px;
}

section div {
  background-color: #262629;

  background-image: #000000;
  padding: 32px;
  padding-top: 24px;
  border-radius: 8px;
}

section h2 {
  letter-spacing: -0.47px;
}

section p {
  letter-spacing: -0.18px;
  color: #a1a1aa;
}

section ul {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  margin-top: 8px;
}

section ul li {
  transition: transform 0.3s;
}

section ul li:hover {
  transform: scale(1.1);
}

.content-list img {
  border-radius: 8px;
  width: 90px;
}

footer {
  margin-bottom: 32px;
}

footer p {
  color: white;
  text-align: center;
  font-size: 12px;
}

.channel-list img {
  border-radius: 50%;
  width: 70px;
  border: 1px solid #443e54;
}

/* animation */

.my-photo {
  animation: fromTop 0.9s 0.8s backwards;
}

header div {
  animation: fromTop 0.7s 0.5s backwards;
}

main section {
  animation: fromBottom 0.7s;
}

main section:nth-child(1) {
  animation-delay: 0s;
}

main section:nth-child(2) {
  animation-delay: 0.3s;
}

main section:nth-child(3) {
  animation-delay: 0.6s;
}

@keyframes fromTop {
  from {
    opacity: 0;
    transform: translateY(-30px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fromBottom {
  from {
    opacity: 0;
    transform: translateY(-80px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}
